/* Contact.css */
.contact-container {
  background: linear-gradient(180deg, #001f3f, #000000); /* สีน้ำเงิน-ดำ */
  color: #ffffff; /* สีข้อความเป็นสีขาวเพื่อความชัดเจน */
  min-height: 100vh; /* ให้ครอบคลุมทั้งหน้าจอ */
  padding: 20px;
}

.notifications {
  margin-top: 20px;
  padding: 15px;
  border: none; /* Removed border */
  border-radius: 10px;
  display: inline-block;
  width: 100%; /* Expand to full width */
}

/* สไตล์สําหรับการแจ้งเตือน -------------------------------------------------------
 */
.notification {
  padding: 10px;
  background: rgba(255, 255, 255, 0.1); /* โปร่งใสเล็กน้อย */
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Expand to full width */
  border: 1px solid #ffffff;
  color: #ffffff; /* สีข้อความเริ่มต้นสำหรับการแจ้งเตือนที่อ่านแล้ว */
  transition: background-color 0.3s ease;
}

.notification.unread {
  color: #ffffff; /* สีข้อความสำหรับการแจ้งเตือนที่ยังไม่ได้อ่าน */
  background-color: #f9f9f9;
  border: 1px solid #007bff;
}

.notification.read {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  color: #888;
}

.notification button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.no-notifications {
  font-size: 18px;
  font-weight: bold;
}

/* Modal styling */
.modal {
  background: rgba(0, 0, 0, 0.8); /* พื้นหลังโปร่งใส */
  color: #ffffff;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
