

.calendar {
  width: 100%; /* ปรับให้กว้างเต็มหน้าจอ */
  max-width: 900px; /* กำหนดขนาดสูงสุดเพื่อไม่ให้ใหญ่เกินไป */
  margin: 10px auto; /* เพิ่มระยะห่างจาก navbar */
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  font-weight: lighter;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 10px;
}

.calendar-header button {
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
  color: #007aff;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px; /* ลดช่องว่างให้วันชนกันมากขึ้น */
  text-align: center;
  font-weight: normal;
  margin-top: 10px;
  padding: 10px;
}

.day {
  padding: 10px;
  background: #e0e0e0;
  border-radius: 5px;
  font-size: 0.9em;
}

.day:nth-child(1) { /* อา. */
  color: #ff4d4d; /* Red for Sunday */
}
.day:nth-child(2) { /* จ. */
  color:  #ffc107; /* Blue for Monday */
}
.day:nth-child(3) { /* อ. */
  color: #ff00d9; /* Green for Tuesday */
}
.day:nth-child(4) { /* พ. */
  color: #28a745; /* Yellow for Wednesday */
}
.day:nth-child(5) { /* พฤ. */
  color:  #fd7e14; /* Teal for Thursday */
}
.day:nth-child(6) { /* ศ. */
  color: #17a2b8; /* Orange for Friday */
}
.day:nth-child(7) { /* ส. */
  color: #6f42c1; /* Purple for Saturday */
}

.date {
  width: 100%; /* ปรับให้ขนาดเต็มคอลัมน์ */
  height: 100px;
  background: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  position: relative;
}

.date.prev-month, .date.next-month {
  color: #b0b0b0;
}

.highlight-today {
  background-color: #fd6e2b;
  background: none;
  color: #fd6e2b;
  font-weight: bold;
  border: 1px solid #fd6e2b;
  border-radius: 5px;
  padding: 1px 1px;
}

.meeting {
  position: absolute;
  bottom: 15px;
  font-size: 0.8em;
  background: red;
  color: white;
  padding: 2px 5px;
  border-radius: 10px;
}
