.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  padding: 2rem;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.input-container {
  margin-bottom: 1rem;
}

.input-container input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.input-container input:focus {
  border-color: #007bff;
  outline: none;
}

.submit1 {
  width: 100%;
  padding: 0.75rem;
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit1:hover {
  background-color: #646464;
}

.signup-link {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #555;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}

.back-to-home-btn {
    width: 60px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 2px 6px;
    font-size: 10px;
    background-color: #616161;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.back-to-home-btn:hover {
    background-color: #0056b3;
}
