.booking-history {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  width: 100%; /* Ensure full width */
  color: black; /* Set text color to black */
}


.booking-history h2 {
  color: #333;
  margin-bottom: 10px;
}

.filter-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-section label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-section select, .filter-section input, .filter-section button {
  font-size: 1em; /* Increase font size */
  width: auto; /* Adjust width to fit text */
}

.filter-section button {
  background-color: rgb(244, 26, 26);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #060505;
}

th, td {
  padding: 10px;
  text-align: left;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%; /* Ensure full width */
}

.large-table {
  font-size: 1.2em;
}
